
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-accent-4">Login</h1>
        <div class="row center">
          <h5 class="header col s12 light grey-text text-darken-1">Welcome back to our site, please login:</h5>
        </div>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Escribe tu email" id="mail" type="email" class="validate">
                <label for="last_name">E-mail</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Escribe una contraseña" id="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>
            <button id="button" class="btn waves-effect waves-light" type="button" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </form>
        </div>
      </div>
    </div>
